
  <nav class="navbar navbar-expand-lg navbar-light bg-success text-center ">
    <div class="container">
      
    </div>
    <div>
       <p> <img src="/img/carrito.png" alt="" width="20%" height="20%" data-bs-toggle="modal" data-bs-target="#modalUno">  👈👈  </p>
    </div>
  </nav>
