<div class="col-md-4 mb-2">
    <div class="card">
        <img src="/img/{{item}}.png" alt="" class="card-img-top">
        <div class="card-body">
            <h2 class="text-center">{{item}}</h2>
        </div>
    </div>
</div>