<div class="col-md-2 mb-2">
    <div class="card">
        <img src="/img/{{item}}.png" alt="" class="card-img-top">
        <div class="card-body text-center">
            <h2 class="text-center">{{item}}</h2>
     
            <button type="button" class="btn btn-success" data-fruta="{{item}}" data-buton="producto">
                Agregar
            </button>
        </div>
    </div>
</div>